/*
** Color scheme hex codes:
** Orange: #EE801E
** Red Orange: #E75B10
** Black: #000000
** Dark Grey: #D6D1CE
** Light Grey: #E3E0DD
** White: #fff
*/

body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #E3E0DD;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #EE801E;
  color: #fff;
}

.site-title a {
  color: #fff;
}

.site-brand {
  float: right;
}

.navbar {
  background-color: #D6D1CE;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

/* a {
  color: #000000;
} */

.navlink a:hover,
.navlink a:focus {
  color: #EE801E;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
  color: #000000;
}
