/*
** Color scheme hex codes:
** Orange: #EE801E
** Red Orange: #E75B10
** Black: #000000
** Dark Grey: #D6D1CE
** Light Grey: #E3E0DD
** White: #fff
*/

body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #E3E0DD;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #EE801E;
  color: #fff;
}

.site-title a {
  color: #fff;
}

.site-brand {
  float: right;
}

.navbar {
  background-color: #D6D1CE;
  font-size: 18px;
  line-height: 22px;
}

.navlist {
  margin: 0 0 0 20px;
  padding: 0;
}

.navitem {
  display: inline-block;
}

/* a {
  color: #000000;
} */

.navlink a:hover,
.navlink a:focus {
  color: #EE801E;
}

a:focus {
  outline: none;
}

.navlink a {
  padding: 8px 10px;
  display: inline-block;
  color: #000000;
}


/* Dropdown Button */
.dropbtn {
  background-color: #D6D1CE;
  color: #000000;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E3E0DD;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E3E0DD;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #EE801E;}
