<header>
  <h1 class="site-title"><a href="#">Scoring Software</a><span class="site-brand">10.0</span></h1>

  <nav class="navbar">
    <ul class="navlist">
      <li class="navitem navlink">
        <a href="./createmeet">Create Meet</a>
      </li>
      <li class="navitem navlink">
        <a href="./setlineup">Lineup</a>
      </li>
      <li class="navitem navlink dropdown">
        <button class="dropbtn">Print</button>
        <div class="dropdown-content">
          <a href="#">Print Scoresheets</a>
          <a href="#">Print Judge Scoresheets</a>
        </div>
      </li>
      <li class="navitem navlink">
        <a href="./scoring">Score</a>
      </li>
      <li class="navitem navlink">
        <a href="./export.html">Export to CSV File</a>
      </li>
      <li class="navitem navlink right">
        <a href="./login">Login</a>
      </li>
    </ul>
  </nav>
</header>
