<div class="form-box hidden" id="team-select-box">
  <h3 class="form-text" id="team-select-text"></h3>
  <select class="team-picker" id="team-select">
    <option value="" selected disabled hidden>Choose here</option>
  </select>
</div>
