<div class="form-box">
  <h3 class="form-text">Pick event to score</h3>
  <select id="event-select">
    <option value="" selected disabled hidden>Choose here</option>
    <option value="vault">Vault</option>
    <option value="bars">Bars</option>
    <option value="beam">Beam</option>
    <option value="floor">Floor</option>
  </select>
</div>
