{{> header}}

<main class="form-container">
  <div class="form-box">
    <center><h2 class="error-text">404</h2></center>
    <center><h3 class="form-text">We seemed to have fallen trying to find that webpage.</h3></center>
  </div>
</main>
