{{> header}}

<main class="form-container">
  <div class="form-box">
    <center><h2 class="error-text">404</h2></center>
    <center><h3 class="form-text">Whoops, we took a fall trying to find that webpage(.5 deduction).</h3></center>
  </div>
</main>
