{{> header}}

<main class="form-container">
  <div class="form-box">
    <center><h2 class="error-text">{{statusCode}}</h2></center>
    <center><h3 class="form-text">{{err}}</h3></center>
  </div>
</main>
