<body>
  {{> header}}

  <main class="form-container">
    {{> vbbfSelectBox}}

    <div class="form-box hidden" id="team-select-box">
      <h3 class="form-text" id="team-select-text"></h3>
      <select class="team-picker" id="team-select">
        <option value="" selected disabled hidden>Choose here</option>
        {{#each teams}}
          <option value="{{id}}">{{teamName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-box hidden" id="player-card-box">
      <h3 class="form-text" id="player-card-text"></h3>

      <div class="player-card first">
        <h3 class="lineup-number">1:</h3>
        <h3 class="player-name hidden" id="player-name-0"></h3>
        <select class="player-picker" id="player-picker-0">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <div class="player-card">
        <h3 class="lineup-number">2:</h3>
        <h3 class="player-name hidden" id="player-name-1"></h3>
        <select class="player-picker" id="player-picker-1">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <div class="player-card">
        <h3 class="lineup-number">3:</h3>
        <h3 class="player-name hidden" id="player-name-2"></h3>
        <select class="player-picker" id="player-picker-2">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <div class="player-card">
        <h3 class="lineup-number">4:</h3>
        <h3 class="player-name hidden" id="player-name-3"></h3>
        <select class="player-picker" id="player-picker-3">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <div class="player-card">
        <h3 class="lineup-number">5:</h3>
        <h3 class="player-name hidden" id="player-name-4"></h3>
        <select class="player-picker" id="player-picker-4">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <div class="player-card">
        <h3 class="lineup-number">6:</h3>
        <h3 class="player-name hidden" id="player-name-5"></h3>
        <select class="player-picker" id="player-picker-5">
          <option value="" selected disabled hidden>Choose gymnast</option>
        </select>
      </div>

      <input type="submit" id="lineup-accept" value="Accept">
    </div>

    <div class="form-box hidden" id="lineup-complete">
      <h3 class="form-text" id="lineup-complete-text"></h3>
    </div>
  </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/lineup.js"></script>
