<body>
  <header>
    <h1 class="site-title"><a href="#">Scoring Software</a><span class="site-brand">10.0</span></h1>
<!-- Not needed for the login page
    <nav class="navbar">
      <ul class="navlist">
        <li class="navitem navlink"><a href="#">Meet</a></li>
        <li class="navitem navlink"><a href="#">Lineup</a></li>
        <li class="navitem navlink"><a href="#">Score</a></li>
        <li class="navitem navlink"><a href="#">Print</a></li>
      </ul>
    </nav> -->
  </header>

  <main class="login-container">
    <div class="login-box">
      <h3 class="login-text">Log in</h3>
      <form action="login-page.js">
        <label for="uname">Username:</label>
        <input type="text" id="uname" name="username" placeholder="Username">

        <label for="pword">Password:</label>
        <input type="password" id="pword" name="password" placeholder="Password">

        <input type="submit" value="Log in">
      </form>
    </div>
  </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/login.js" charset="utf-8"></script>
