<body>
  {{> header}}

  <main class="form-container">
    {{> vbbfSelectBox}}

    <div class="form-box hidden" id="team-select-box">
      <h3 class="form-text" id="team-select-text"></h3>
      <select class="team-picker" id="team-select">
        <option value="" selected disabled hidden>Choose here</option>
        {{#each teams}}
          <option value="{{id}}">{{teamName}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-box hidden" id="player-name-box">
      <center><h3 class="form-text" id="player-name"></h3></center>
    </div>

    <div class="scoring-box-container hidden">
      {{#each judges}}
        {{> scoringBox}}
      {{/each}}
    </div>

    <div class="form-box hidden" id="accept-box">
      <center><h3 class="form-text" id="accept-text">Please double check each Judge's scores are correct.</h3></center>
      <input type="submit" id="score-accept" value="Submit Score">
    </div>

    <div class="form-box hidden">
      <center><h3 class="form-text" id="scoring-complete-text"></h3></center>
    </div>
  </main>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="/scoring.js" charset="utf-8"></script>
